SECRET_KEY = asd
DEBUG = 1
ALLOWED_HOSTS = 127.0.0.1
SITE_ID = 1
COMINGSOON=0

DB_ENGINE = django.db.backends.postgresql
DB_NAME = postgres
DB_USER = postgres
DB_PASS = postgres
DB_HOST = db
DB_PORT = 5432


EMAIL_BACKEND = django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST = mail.domain.com
EMAIL_PORT = 587
EMAIL_HOST_USER = info@domain.com
EMAIL_HOST_PASSWORD = password
EMAIL_USE_SSL = 0
EMAIL_USE_TLS = 1
DEFAULT_FROM_EMAIL = info@domain.com