version: "3.9"
   
services:
  redis:
    container_name: redis
    image: redis:6.2.7-alpine
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning

  db:
    container_name: db
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./envs/prod/db/.env
    restart: always

  backend:
    build: 
      context: .
      dockerfile: dockerfiles/stage/django/Dockerfile
    container_name: backend
    volumes:
      - static_volume:/usr/src/app/static
      - media_volume:/usr/src/app/media
    expose:
      - "8000"
    env_file:
      - ./envs/prod/django/.env
    depends_on:
      - db
      - redis
  
  certbot:
    build: 
      context: ./dockerfiles/prod/certbot/
    command: echo "Skipping..."
    container_name: certbot
    env_file:
      - ./envs/prod/nginx/.env
    volumes: 
      - certbot_www_volume:/vol/www/
      - certbot_certs_volume:/etc/letsencrypt/
    depends_on:
      - nginx

  nginx:
    container_name: nginx
    build:
      context: ./dockerfiles/prod/nginx/
    restart: always
    env_file:
      - ./envs/prod/nginx/.env
    ports:
      - 443:443
      - 80:80
    volumes:
      - static_volume:/home/app/static
      - media_volume:/home/app/media
      - certbot_www_volume:/vol/www/
      - proxy_dhparams:/vol/proxy
      - certbot_certs_volume:/etc/letsencrypt/
      - ./dockerfiles/prod/nginx/config:/etc/nginx/templates

    depends_on:
      - backend

volumes:
  postgres_data:
  static_volume:
  media_volume:
  certbot_www_volume:
  certbot_certs_volume:
  proxy_dhparams:
