{% extends "base.html" %}

{% block content %}
<div class="container px-4 py-5" id="Features">
    <h2 class="pb-2 border-bottom">Repo Features</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/bxl+django-1325051932950782714.png" width="50" height="50">
            
            
            <div>
                <h4 class="fw-bold mb-0">Latest LTS Django</h4>
                <p>Latest LTS included 3.2.x and needed requirements</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/git-1324440163388195031.png" width="50" height="50">
                
            <div>
                <h4 class="fw-bold mb-0">Git</h4>
                <p>python gitignore and README with license</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/Docker-1324888714233944531.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Docker File</h4>
                <p>Latest Python image dockerfile and dockerignore</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/YAML+Alt2-1324888775340157253.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Docker Compose</h4>
                <p>Docker compose and minimum setup for django and db included,with volumes and network</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/nginx-1324888744812394023.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Nginx</h4>
                <p>included nginx setup and file configs for production</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/remix+icons+++media+icons+3+line-1324442450985942174.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Django env</h4>
                <p>enviroment sample file and setup</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/bxs+message+square+detail-1325051973132488012.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Hints and Files</h4>
                <p>Sample files and hints all over the template for more giving more pace</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/Config+Python-1324888709492346875.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Preconfigured</h4>
                <p>Preconfigured settings.py for email,db,static,media  etc.</p>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="Configurations">
    <h2 class="pb-2 border-bottom">ProjectConfigurations</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/media+television+tv+icon-1320085822344547193.png" width="50" height="50">            
            
            <div>
                <h4 class="fw-bold mb-0">Static & Media Directories</h4>
                <p>STATIC_ROOT and STATIC_URL and same for media configurations with STATICFILES_DIRS </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/html+media+network+social+icon-1320194395702289863.png" width="50" height="50">
                
            <div>
                <h4 class="fw-bold mb-0">Template Directories</h4>
                <p>Genral templates directory for root</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/site+map-131964743791377331.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Site Framework and Sitemaps + robots</h4>
                <p>Siteframework as in site_id configs with robots.txt and sample sitemaps</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/database+server+storage+icon-1320086062565593078.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Database Configs</h4>
                <p>Database configuration for production with postgresql and volume directory in data</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/email+24px-131985190179777237.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Email Configs</h4>
                <p>Email configurations for dev and prod as in env file</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/notification+icon-1320183705177528190.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Message Configs</h4>
                <p>Message and warnings configuration for notification handelings</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/Test+Python-1324888768639004022.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">TestCase</h4>
                <p>Hints for TestCases and sample files for an app</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3" src="https://icons-for-free.com/iconfiles/png/512/security+24px-131985226214269153.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Security</h4>
                <p>Security tags for https and redirections,HSTS,Cookie and other headers</p>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="Author">
    <h2 class="pb-2 border-bottom">Author</h2>
    <div class="row featurette py-5">
        <div class="col-md-8 order-md-2">
            <h2 class="featurette-heading">Ali Bigdeli <span class="text-muted">IOT and AI Developer</span>
            </h2>
            <p class="lead">Ali Bigdeli is an IT graduated and with a degree in artificial intelligence and robotics.
                His interest in the world of artificial intelligence and communications in the world of IoT led him to
                combine the two platforms. As the basis of his education, work, and development.</p>

            <p class="lead">His more than 5 years of programming experience and ability in the field of networking and
                communications facilitated his work process and plays a key role in many projects. Python, C ++ / C, and
                Arduino are his specialties in programming.</p>

            <p class="lead">Since 2016, he has founded a team called ICC-ARIA, whose goals are to teach various
                specialties in the
                field of artificial intelligence and the Internet of Things, in which backend and framework designs such
                as Django play an important role. Ideation and conversion of an idea into a product and reverse
                engineering of products are among his potential abilities.</p>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="https://avatars.githubusercontent.com/u/29748439?v=4" width="100%" height="100%" max-width="400px"
                max-height="400px" alt="">

        </div>
    </div>
</div>
<div class="container px-4 py-5" id="Contact">
    <h2 class="pb-2 border-bottom">Contact</h2>
    <div class="py-3 w-50 m-0 m-auto">
        <form action="mailto:bigdeli.ali3@gmail.com" method="get" enctype="text/plain">
            <div class="form-group">
                <label for="subject">Subject</label>
                <input id="subject" name="subject" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="textarea">Body</label>
                <textarea id="textarea" name="textarea" cols="40" rows="5" aria-describedby="textareaHelpBlock"
                    class="form-control"></textarea>
                <span id="textareaHelpBlock" class="form-text text-muted">share your thoughts</span>
            </div>

            <div class="form-group">
                <button class="btn btn-dark btn-lg" type="submit">Send</button>
                <button class="btn btn-secondary btn-lg" type="reset" name="reset">Clear Form</button>
              </div>
           
        </form>
    </div>

</div>
{% endblock %}