{% extends "base.html" %}
{% block extra_css %}
<style>
    .logo {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
</style>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="Features">
    <h2 class="pb-2 border-bottom">Repo Features</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/bxl+django-1325051932950782714.png" width="50"
                height="50">


            <div>
                <h4 class="fw-bold mb-0">Latest LTS Django</h4>
                <p>Latest LTS included 3.2.x and needed requirements</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/git-1324440163388195031.png" width="50" height="50">

            <div>
                <h4 class="fw-bold mb-0">Git</h4>
                <p>python gitignore and README with license</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/Docker-1324888714233944531.png" width="50"
                height="50">
            <div>
                <h4 class="fw-bold mb-0">Docker File</h4>
                <p>Latest Python image dockerfile and dockerignore</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/YAML+Alt2-1324888775340157253.png" width="50"
                height="50">
            <div>
                <h4 class="fw-bold mb-0">Docker Compose</h4>
                <p>Docker compose and minimum setup for django and db included,with volumes and network</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/nginx-1324888744812394023.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Nginx + Gunicorn</h4>
                <p>included nginx setup with gunicorn as serving service and file configs for production</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/remix+icons+++media+icons+3+line-1324442450985942174.png"
                width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Django env</h4>
                <p>enviroment sample file and setup</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/bxs+message+square+detail-1325051973132488012.png"
                width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Hints and Files</h4>
                <p>Sample files and hints all over the template for more giving more pace</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/visible+files-1319964824317250573.png" width="50"
                height="50">
            <div>
                <h4 class="fw-bold mb-0">Black and Flake8</h4>
                <p>Included Pep8 and Flake8 configuration file for test purposes.Reformating the codes and bring the
                    best out of it.
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3 logo"
                src="https://avatars.githubusercontent.com/u/44036562?s=200&v=4" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Github Actions</h4>
                <p>Pre Configurations for CI/CD in github actions. plus two step jobs for testing and deploying on vps
                    with docker.
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3 logo"
                src="https://www.django-rest-framework.org/img/logo.png" width="50" height="35">
            <div>
                <h4 class="fw-bold mb-0">Django Rest Framework</h4>
                <p>Included DRF package and all its dependencies along side of cors headers. plus simplejwt and token authentication for accounting.
                </p>
            </div>
        </div>

        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3 logo"
                src="https://miro.medium.com/max/300/1*2DKX6fd0wlVbbjff_noWHg.png" width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Swagger and Redoc</h4>
                <p>Allowing the urls to include rest api documentations
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/Config+Python-1324888709492346875.png" width="50"
                height="50">
            <div>
                <h4 class="fw-bold mb-0">Preconfigured</h4>
                <p>Preconfigured settings.py for email,db,static,media etc.</p>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="Configurations">
    <h2 class="pb-2 border-bottom">ProjectConfigurations</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/media+television+tv+icon-1320085822344547193.png"
                width="50" height="50">

            <div>
                <h4 class="fw-bold mb-0">Static & Media Directories</h4>
                <p>STATIC_ROOT and STATIC_URL and same for media configurations with STATICFILES_DIRS </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/html+media+network+social+icon-1320194395702289863.png"
                width="50" height="50">

            <div>
                <h4 class="fw-bold mb-0">Template Directories</h4>
                <p>Genral templates directory for root</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/site+map-131964743791377331.png" width="50"
                height="50">
            <div>
                <h4 class="fw-bold mb-0">Site Framework and Sitemaps + robots</h4>
                <p>Siteframework as in site_id configs with robots.txt and sample sitemaps</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/database+server+storage+icon-1320086062565593078.png"
                width="50" height="50">
            <div>
                <h4 class="fw-bold mb-0">Database Configs</h4>
                <p>Database configuration for production with postgresql and volume directory in data</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/email+24px-131985190179777237.png" width="50"
                height="50">
            <div>
                <h4 class="fw-bold mb-0">Email Configs</h4>
                <p>Email configurations for dev and prod as in env file</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/notification+icon-1320183705177528190.png" width="50"
                height="50">
            <div>
                <h4 class="fw-bold mb-0">Message Configs</h4>
                <p>Message and warnings configuration for notification handelings</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/Test+Python-1324888768639004022.png" width="50"
                height="50">
            <div>
                <h4 class="fw-bold mb-0">TestCase</h4>
                <p>Hints for TestCases and sample files for an app</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img class="bi text-muted flex-shrink-0 me-3"
                src="https://icons-for-free.com/iconfiles/png/512/security+24px-131985226214269153.png" width="50"
                height="50">
            <div>
                <h4 class="fw-bold mb-0">Security</h4>
                <p>Security tags for https and redirections,HSTS,Cookie and other headers</p>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="Author">
    <h2 class="pb-2 border-bottom">Author</h2>
    <div class="row featurette py-5">
        <div class="col-md-8 order-md-2">
            <h2 class="featurette-heading">Ali Bigdeli <span class="text-muted">IOT and AI Developer</span>
            </h2>
            <p class="lead">Ali Bigdeli is an IT graduated and with a degree in artificial intelligence and robotics.
                His interest in the world of artificial intelligence and communications in the world of IoT led him to
                combine the two platforms. As the basis of his education, work, and development.</p>

            <p class="lead">His more than 5 years of programming experience and ability in the field of networking and
                communications facilitated his work process and plays a key role in many projects. Python, C ++ / C, and
                Arduino are his specialties in programming.</p>

            <p class="lead">Since 2016, he has founded a team called ICC-ARIA, whose goals are to teach various
                specialties in the
                field of artificial intelligence and the Internet of Things, in which backend and framework designs such
                as Django play an important role. Ideation and conversion of an idea into a product and reverse
                engineering of products are among his potential abilities.</p>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="https://avatars.githubusercontent.com/u/29748439?v=4" width="100%" height="100%" max-width="400px"
                max-height="400px" alt="">

        </div>
    </div>
</div>
<div class="container px-4 py-5" id="Contact">
    <h2 class="pb-2 border-bottom">Contact</h2>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5">
                <h2>Reach ME</h2>
                <p>you can reach me using other social media platforms such as:</p>
                <ul class="justify-content-start list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="https://github.com/AliBigdeli" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
                                class="bi bi-github" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                            </svg>
                        </a></li>
                    <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/thealibigdeli/"
                            target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45"
                                fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                            </svg></a></li>

                    <li class="ms-3"><a class="text-muted" href="https://www.youtube.com/in/thealibigdeli/"
                            target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45"
                                fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                                <path
                                    d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                            </svg></a></li>

                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5">
                <form action="mailto:bigdeli.ali3@gmail.com" method="get" enctype="text/plain">
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input id="subject" name="subject" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="textarea">Body</label>
                        <textarea id="textarea" name="textarea" cols="40" rows="5" aria-describedby="textareaHelpBlock"
                            class="form-control"></textarea>
                        <span id="textareaHelpBlock" class="form-text text-muted">share your thoughts</span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-dark btn-lg" type="submit">Send</button>
                        <button class="btn btn-secondary btn-lg" type="reset" name="reset">Clear Form</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
{% endblock %}